# Port configuration for Express server
PORT=3000

# MongoDB Atlas connection URI
MONGODB_URI=you_mongodb_uri

# Encryption secrets
JWT_SECRET=super_secure_jwt_token_secret_for_admin_sessions
DEVICE_TOKEN_SECRET=highly_secured_token_used_to_generate_client_device_signatures

PIN=your_pin
ADMIN_PASSWORD=your_password